<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="utf-8" />
<style>
.bgOpacity {
	opacity: 0.1;
}

.settingOne {
	font-size: 14px;
	font-weight: bold;
}

.settingTwo {
	font-size: 12px;
	font-weight: bold;
}

.settingThree {
	font-size: 10px;
	font-weight: bold;
}

.settingFour {
	font-size: 10px;
	font-weight: normal;
}

.logowatermark {
	display: block;
	position: absolute;
	left: 0;
	top: 20%;
	width: 700px;
	height: 600px;
	opacity: 0.6;
	background-image:
		url('data:image/png;base64,${logoWatermarkEncodedString}');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 700px;
	/*
  background-size: cover;
  */
}

.tpwatermark {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 700px;
	height: 700px;
	opacity: 0.6;
	background-image:
		url('data:image/png;base64,${tpWatermarkEncodedString}');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 700px;
}

.date {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 12px;
	font-weight: bold;
}
</style>
</head>
<!--  <h1 style="font-size: 10px; font-weight: bold;">IESCMS Final
	Transport Pass</h1> -->
<body
	style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000; vertical-align: middle;">
	<header>

	<!--  <table
		style="border-collapse: collapse; width: 100%;">
		<tr>
			<td>
				<p
					style="margin: 0px; font-weight: bold; text-align: left;">IESCMS
					Final Transport Pass</p>
			</td>
		</tr>
	</table>

	</header> -->

	<table width="100%" cellpadding="5" cellspacing="0" border="1"
		style="border-collapse: collapse; border-color: #ccc;">
		<tr>
			<td>
				<table width="100%">
					<tr>
						<td align="center" width="25%"><img
							src="data:image/png;base64,${upExciseLogoBase64Content}"
							width="100" height="100" alt="UP Excise Logo" /></td>
						<td align="center" width="40%"><h2
								style="font-size: 16px; font-weight: bold; text-transform: uppercase;">
								Department of Excise<br /> <span
									style="font-weight: normal; font-size: 16px;">Uttar
									Pradesh</span>
								<!--  <br /> <span
									style="font-weight: normal; font-size: 16px;"> FL-36
									.Transport Pass Details</span> -->
							</h2></td>
						<td align="center" width="25%">
							<table>
								<tr>
									<td align="center"><img
										src="data:image/png;base64,${qrCodeBase64Content}" /></td>
								</tr>
								<tr>
									<td><b><span
											style="font-size: 10px; font-weight: bold;">${tp_applnno}</span></b></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table width="100%" cellpadding="2" cellspacing="0" border="1"
					style="border-collapse: collapse; border-color: #ccc; margin-top: 5px;">
					<tr>
						<td align="center" style="font-size: 12px; font-weight: bold;">Transport Pass</td>
					</tr>
				</table>
				<table width="100%" cellpadding="2" cellspacing="0" border="1"
					style="border-collapse: collapse; border-color: #ccc; margin-top: 5px;">
					<tr>
						<td width="20%" class="settingThree">Application Date</td>
						<td width="30%">${application_date}</td>
						<td width="20%" class="settingThree">Transport Pass No.</td>
						<td width="30%">${tp_applnno}</td>
					</tr>
					<tr>
						<td class="settingThree">Status</td>
						<td class="settingFour">${status}</td>
						<td class="settingThree">Application No.</td>
						<td width="30%">${requested_appln_no}</td>
					</tr>
				</table>
				<table width="100%" cellpadding="2" cellspacing="0" border="1"
					style="border-collapse: collapse; border-color: #ccc; margin-top: 5px;">
					<tr>
						<td colspan="2" style="background: #f4f4f4;" class="settingTwo">From entity details</td>
						<td colspan="2" style="background: #f4f4f4;" class="settingTwo">To entity details</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">License Type</td>
						<td width="30%">${license_type}</td>
						<td width="20%" class="settingThree">License Type</td>
						<td width="30%">${pu_license_type}</td>
					</tr>
										<tr>
						<td width="20%" class="settingThree">Unit Type</td>
						<td width="30%">Bondwarehouse</td>
						<td width="20%" class="settingThree">Unit Type</td>
						<td width="30%">Parent Unit</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">Unit Name</td>
						<td width="30%">${entity_name}</td>
						<td width="20%" class="settingThree">Unit Name</td>
						<td width="30%">${pu_entity_name}</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">Unit Address</td>
						<td width="30%">${entity_address}</td>
						<td width="20%" class="settingThree">Unit Address</td>
						<td width="30%">${pu_entity_address}</td>
					</tr>
				</table>
				<table width="100%" cellpadding="2" cellspacing="0" border="1"
					style="border-collapse: collapse; border-color: #ccc; margin-top: 5px;">
					<tr>
						<td colspan="4" align="left"
							style="font-size: 12px; font-weight: bold; background: #f4f4f4;">
							Transportation Details</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">Transporter's Name</td>
						<td width="30%">${vehicle_agency_name}</td>
						<td width="20%" class="settingThree">Vehicle No.</td>
						<td width="30%">${vehicle_number}</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">Vehicle Driver's Name</td>
						<td width="30%">${driver_name}</td>
						<td width="20%" class="settingThree">Route Type</td>
						<td width="30%">${route_type}</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">Route Details</td>
						<td width="30%">${route_details}</td>
						<td width="20%" class="settingThree">Major Route</td>
						<td width="30%">${major_route}</td>
					</tr>
					<tr>
						<td width="20%" class="settingThree">Distance(Kms)</td>
						<td width="30%">${distance_kms}</td>
						<td width="20%" class="settingThree">Valid Upto</td>
						<td width="30%">${valid_upto}</td>

					</tr>
					<tr>
					    <td width="20%" class="settingThree">Gross Weight</td>
						<td width="30%">${gross_weight_Qtls}</td>
						<td width="20%" class="settingThree">Tare Weight</td>
						<td width="30%">${tare_weight_Qtls}</td>
					</tr>
					<tr>
					    <td width="20%" class="settingThree">Net Weight</td>
						<td width="30%">${net_weight_Qtls}</td>
						<td width="20%" class="settingThree">GPS ID</td>
						<td width="30%">${GPS_device_id}</td>
					</tr>
					<tr>
					<td width="20%" class="settingThree">Remarks</td>
						<td width="30%">${Remarks}</td>
						<td width="20%" class="settingThree">Code type</td>
						<td width="30%">${code_type}</td>
					</tr>
				</table>
				<table width="100%" cellpadding="2" cellspacing="0" border="1"
					style="border-collapse: collapse; border-color: #ccc; margin-top: 5px;">
					<tr>
						<td colspan="7" align="center" class="settingTwo"
							style="background: #f4f4f4;">Carton Details</td>
					</tr>
					<tr>
					    <td align="center" class="settingThree">Carton Size</td>
						<td align="center" class="settingThree">No of Cases Requested</td>
						<td align="center" class="settingThree">No of QRcode Requested</td>
						<td align="center" class="settingThree">No of Rollcode Requested</td>
						<td align="center" class="settingThree">No of Cases Dispatched</td>
						<td align="center" class="settingThree">No of QRcode Dispatched</td>
						<td align="center" class="settingThree">No of Rolls Dispatched</td>
					</tr>
					<!--<tr>
					    <td align="center" class="settingFour">${carton_size}</td>
						<td align="center" class="settingFour">${no_of_barcode}</td>
						<td align="center" class="settingFour">${no_of_qrcode}</td>
						<td align="center" class="settingFour">${no_of_roll}</td>
						<td align="center" class="settingFour">${no_barcode_received}</td>
						<td align="center" class="settingFour">${no_qrcode_received}</td>
						<td align="center" class="settingFour">${no_roll_received}</td>
					</tr>-->
					${lineItems} 
				</table>

			<!--  <table width="100%" cellpadding="1" cellspacing="0" border="1"
					style="border-collapse: collapse; border-color: #ccc; margin-top: 5px;">

					<tr>
						<td align="center" class="settingThree">S.No</td>
						<td align="center" class="settingThree">Brand</td>
						<td align="center" class="settingThree">Liquor Type</td>
						<td align="center" class="settingThree">Batch No</td>
						<td align="center" class="settingThree">Packaging Size</td>
						<td align="center" class="settingThree">Packaging Type</td>
						<td align="center" class="settingThree">Strength</td>
						<td align="center" class="settingThree">No of Cases/ Monocartons Dispatched</td>
						<td align="center" class="settingThree">No of Bottles Dispatched</td>
						<td align="center" class="settingThree">Total <br /> B.L
						</td>
					</tr>
					${indentLineItems}
					<tr>
						<td style="text-align: right;" class="settingThree" colspan="7">Dispatched</td>
						<td align="center" class="settingFour">${totaldis}</td>
						<td align="center" class="settingFour">${totaldisbot}</td>
						<td align="center" class="settingFour">${totalBulkLitres}</td>
					</tr>
				</table> -->	

				<table width="100%" cellpadding="0" cellspacing="0" border="0"
					style="border-collapse: collapse; border-color: #ccc; margin-top: -5px;">
					<tbody>
						<!-- <tr>
							<td align="center" class="settingThree"><img
								src="data:image/png;base64,${tpDisclaimerBase64Content}" /></td>
						</tr> -->
						<div class="footer">
							<p>
							
							<p>IESCMS Bondwarehouse Transport Pass ${currentDate}</p>
								<!-- <table width="100%" border="0" cellspacing="0" cellpadding="0">
									${signature}

									<td align="right" style="font-size: 12px; font-weight: normal;">Excise
										Inspector<br /> <br /> <br /> Incharge <br /> Dept of
										Excise
									</td>

								</table>  -->
							</p>
						</div>

						<div class="logowatermark" />
					</tbody>
				</table>
			</td>
		</tr>
	</table>
	<!--  <div class="footer" style="position: fixed; left: 0; bottom: 0; width: 100%; color: black; text-align: left;">
    		<p>IESCMS Bondwarehouse  Transport Pass ${currentDate}</p>
</div> -->
</body>
</html>
